# Created by https://www.gitignore.io/api/virtuoso

### Virtuoso ###
# Log files
*.log
panic*.log.*

# OpenAccess database lock files
*.cdslck*

# Run directories for layout vs. schematic and design rule check
lvsRunDir/*
drcRunDir/*

# Abstract generation tool
abstract.log*
abstract.record*

virtuoso/data/virtuoso/.data_loaded
virtuoso/data/virtuoso/.dba_pwd_set
virtuoso/data/virtuoso/clean-logs.sh
virtuoso/data/virtuoso/virtuoso-temp.db
virtuoso/data/virtuoso/virtuoso.db
virtuoso/data/virtuoso/virtuoso.ini
virtuoso/data/virtuoso/virtuoso.lck
virtuoso/data/virtuoso/virtuoso.pxa
virtuoso/data/virtuoso/virtuoso.trx

# End of https://www.gitignore.io/api/virtuoso
